/* css/custom.css */

body{
    margin: 0;
    background-color: rgb(215, 235, 247);
    background-size: cover;
    background-position: center;
}

.espaceAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}

.espaceAdmin img {
    width: 100px;
    height: auto;
}

.espaceAdmin p {
    font-size: 3.5rem;
    font-weight: bold;
    color: #042d3b;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
}

.card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
    height: 500px;
}
.card:hover{
    transform: scale(1.0001);
}

.card-title {
    font-size: 2rem;
    text-align: center;
}

.card-text {
    font-size: 1.2rem;
    font-weight: 600;
}

.btn {
    font-size: 1.3rem;
    font-weight: 600;
}

#imgT{
    height: 270px;
}
